
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');


body{
  margin: 0;
  /* text-align: center; */
  /*--Elementes that are not widht set.--*/
  /* font-family: 'Merriweather', serif;
  font-size: 120%; */
}

/* Imagen para poner en el inicio de sessión  */



h1 {
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', ;
  color: #66BFBF;
  line-height: 2;
/*  width: 10%;
  margin: 0 auto 0 auto; /*
  /* here this margin option is allowing to place the information
  in the center. Using this is another option if you wan to provide a
  fixed width, because the text-align option only works well when you have
  a full widht block. That goes from edge to edge */
  }
h2
{
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-size: 2.5rem;
  color: #66BFBF;
}
h3
{
  font-family:'Montserrat', sans-serif;
  color: #11999E;
}

hr
{
  border-style: dotted none none none;
  border-width: 10px;
  width: 4em;
  color: #EAF6F6;
  margin: 100px auto 100px auto;

}

a
{
  color: #11999E;
}

p {
  font-family: 'Outfit', sans-serif;

  margin-top: 1em;
}

.welcome img{
max-height: 100%;
max-width: 100%;
}
.hide {
  display: none;
}

.html-image:hover + .hide {
  display: block;
  color: red;
}


.be-images  p{
  font-size: 20px;
  font-family: 'Outfit', sans-serif;

  margin-top: 1em;
  color: #222831;
}
.BUTTON_SKS {
   margin-top: 60px;
   line-height: 2;
   background: #66BFBF;
   background-image: -webkit-linear-gradient(top, #66BFBF, #276C6C);
   background-image: -moz-linear-gradient(top, #66BFBF, #276C6C);
   background-image: -ms-linear-gradient(top, #66BFBF, #276C6C);
   background-image: -o-linear-gradient(top, #66BFBF, #276C6C);
   background-image: -webkit-gradient(to bottom, #66BFBF, #276C6C);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   height: 0;
   line-height: 0;
   color: #FFFFFF;
   font-family: Open Sans;
   width: 145px;
   font-size: 20px;
   font-weight: 100;
   padding: 30px;
   text-shadow: 1px 1px 20px #000000;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.BUTTON_SKS:hover {
   border: solid #337FED 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}

.btn{
  background-color: #66BFBF;
  border-color: #66BFBF;
}
.contact-me {
      margin-bottom: 90px;
}
.footer-link
{
  padding: 25px;
  text-decoration: none;
  font-family:'Montserrat', sans-serif;
}

.fe-images{
  position: relative;
}
.fe-images  p{
  font-size: 20px;
  font-family: 'Outfit', sans-serif;

  margin-top: 1em;
  color: #222831;

}


.skills{
  margin: auto;
}
.skills-container{
  display: inline-block;
  float: left;
}

.skill-images{
  position: relative;
  width: 100px;
  height: 100px;
}

.trademark-info
{
  padding-top: 35px;
  color: #EAF6F6;
  font-size: 0.75em;
}
.top-container {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
}


.middle-container {

}

.bottom-container {
background-color: #66BFBF;
padding-top: 50px;
    padding-bottom: 35px;
}

.skill-row
{
  margin: 100px auto 100px auto;
  text-align: left;
  width: 50%;
  line-height: 2;
}



.pro {
  text-decoration: underline;
}
.project-image{
  width: 286px;
  height: 180px;
}

.wrap{
  position: relative;
width: 100%;
}

.top-cloud {
  /* position: relative;
  right: 500px;
  top: 50px; */
  position: absolute;
top: 10;
left: 10px;
z-index: 1;
color: #66BFBF;
}
.bottom-cloud {
  /* position: relative;
  left: 400px;
  bottom: 300px; */
  position: absolute;
  bottom: 15%;
  right: 20px;
  z-index:1;
}

.comp-img
 {
   float: left;
  width: 30%;
  margin-right: 30px;
}

.soccer-img
 {
   float: right;
  width: 30%;
  margin-left: 30px;
}

.description-profile
{
  font-size: 1.5rem;
  color: #142F43 ;

}



#pro {
  font-weight: normal;
}
